#about { 
  background-color: darkgoldenrod; 
}
.header-wrapper {
  width: 90vw;
  display: flex;
  justify-content: space-between;  
  margin-top: 5%;

  .content {
    width: 65%;
    margin-bottom: 5%;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
    h1 {
      font-size: 3.5rem;
      text-align: justify;
      color: rgb(0, 0, 0);
      @include media(">=phone", "<lgphone") {
        font-size: 14px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 16px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 16px;
      }
    }

    h2 {
      font-size: 2rem;
      text-align: justify;
      color: rgb(0, 0, 0);
      @include media(">=phone", "<lgphone") {
        font-size: 14px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 16px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 16px;
      }
    }
  }
  p {
    width: 120%;
    text-align: justify;
    color: rgb(8, 8, 8);
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 14px;
      width: 100%;
    }
  }

  #img1 {
    width: 6%;
  }

  #img2 {
    width: 6%;
  }

  #img3 {
    width: 6%;
  }

  #img4 {
    width: 60%;
    margin-left: 40%;
    margin-top: 10%;
  }
}
