#navigation {
  background-color: black;
  position: fixed;
  height: 11%;
  overflow: hidden;
}
.navbar-wrapper {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .name {
    text-decoration: none;
    font-family: "Open Sans";
    opacity: 1;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    border: 0px;
    color: darkgoldenrod;
    cursor: pointer;
    &:hover {
      opacity: 1;
      }
  }
  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 1;
      transition: all 0.2s ease-in-out;
      font-size: 18px;
      color: aliceblue;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .active {
      color: black;
    }
  }
}
